<% if policy(@idea).show? %>
  <div id="idea-show">
    <h3 class="title"><%= @idea.title %></h3>
    <h1 class="tagline"><%= @idea.tagline %></h1>

    <div class="idea-body">
      <p><%= markdown_to_html @idea.body %></p>
    </div>


    <hr>
    <h3 class="bottom-nav">
      <%= mail_to 'ching@casanovatapia.com', 'Contact me' %>
      or
      <%= link_to 'previous page', :back %>
    </h3>
    <p class="small">
      <% if policy(@idea).edit? %>
        <%= link_to 'Edit', edit_idea_path(@idea) %>
        <%= link_to 'Delete', @idea, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      <% end %>
    </p>

  </div>
<% end %>
