<div id="media">
  <h1 class="head-text">I assist emerging brands create their identity through digital media.</h1>

    <div class="row entry-index">
      <% @entries.each do |entry| %>
        <div class="col-sm-4 entry-grid">
          <%= link_to entry do %>
            <% if entry.thumb? %>
              <%= image_tag(entry.thumb.thumb.url) %>
              <h2><span class="text-content"><span><%= entry.title %></span></span></h2>
            <% else %>
              <%= image_tag("thumb.png") %>
              <h2><span class="text-content"><span><%= entry.title %></span></span></h2>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr>
    <h3 class="bottom-nav">
      <%= mail_to 'ching@casanovatapia.com', 'Contact me' %>
      or
      <%= link_to 'see my Web Applications.', entries_dev_path %>
    </h3>
</div>
