<div id="entry-show">
  <h4><%= @entry.title %></h4>
  <h1><%= @entry.tagline %></h1>
  <div class="header-shot">
    <% if @entry.avatar? %>
      <%= image_tag(@entry.avatar.url) %>
    <% else %>
      <%= image_tag("exampleshot.png") %>
    <% end %>
  </div>
  <p><%= @entry.body %></p>
  <div class="sec-shot row">
    <div class="col-sm-4">
      <% if @entry.shoti? %>
        <%= image_tag(@entry.shoti.url) %>
      <% else %>
        <%= image_tag("exampleshot.png") %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <% if @entry.shotii? %>
        <%= image_tag(@entry.shotii.url) %>
      <% else %>
        <%= image_tag("exampleshot.png") %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <% if @entry.shotiii? %>
        <%= image_tag(@entry.shotiii.url) %>
      <% else %>
        <%= image_tag("exampleshot.png") %>
      <% end %>
    </div>
  </div>
  <hr>
  <h3 class="bottom-nav">
    <%= mail_to 'ching@casanovatapia.com', 'Contact me' %>
    or
    <%= link_to 'previous page', :back %>
  </h3>
  <p class="small">
    <% if policy(@entry).edit? %>
      <%= link_to 'Edit', edit_entry_path(@entry) %>
      <%= link_to 'Delete', @entry, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    <% end %>
  </p>

</div>
