<!DOCTYPE html>
<html>
<head>
  <title>Ching Casanova Tapia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
      <%= link_to(root_path) do %>
        <%= image_tag("logochar.png") %>
      <% end %>
      <!-- <div class="btn-group">
        <button type="button" class="btn btn-nav dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="caret"></span>
          <span class="caret"></span>
          <span class="caret"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div> -->
    </nav>
    <!-- Flash messages  -->
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  <div id="body">

    <%= yield %>

  </div>


  <div id="footer">
    <p class="small text-center">
      Casanova Tapia 2016.
    </p>
  </div>

</div>
</body>
</html>
